# evita copiar a pasta de dependências local para dentro da imagem
node_modules

# evita copiar arquivos de log do npm
npm-debug.log

# evita copiar o histórico do git para dentro da imagem
.git

# evita copiar os workflows do github actions para dentro da imagem
.github

# evita copiar arquivos de variáveis de ambiente
# esse tipo de arquivo pode conter informações sensíveis
.env